#maincontainer{
    background-image: url("https://media.giphy.com/media/l0CLUqAdAMmiXIlBC/giphy.gif");
    background-attachment: fixed;
    background-size: cover;
}

/*https://media.giphy.com/media/l0CLUqAdAMmiXIlBC/giphy.gif
https://media.giphy.com/media/xT0xellfrR6j5p44GQ/giphy.gif */

body{
    margin: 0;
}
#maincontainer{
    margin-top: 60px;
}
#navbar{
    height:60px;
    width: 100%;
    background-color: #031926 ;
    position: fixed;
    top:0;
}

a{
    color: #c5c5c5;
}

li {
    display: inline-block;
    margin: 5px;
    padding 5px;
}

#navcontainer{
    float:right;
    background-color: #031926;    
}

#navheading{
    float: left;
    margin: 10px 10px 10px 110px;
    padding 5px;
    font-size: 35px;
    font-family: 'Italianno', cursive;
    color: #c5c5c5;
}




ul {
     margin-right: 10px;
}

#biocontainer{
    width: 100%;
    background-color: rgba(3, 25, 38, 0.9);
    margin-bottom:200px;
    padding: 20px 0px;
    
}

#biocontainer *{
    text-align: center;
    color: #c5c5c5;
}


#biocontainer img {
    display: block;
    margin-left: auto;
    margin-right: auto; 
    height: 250px;
    border-radius:100px;
}


#skillscontainer{
    background-color: blueviolet;
    margin-bottom: 200px;
    padding: 20px 0px;
    background-color: rgba(3, 25, 38, 0.9);
}

#skillscontainer *{
    text-align: center;
    color: #c5c5c5;
}

table{
    table-layout: fixed;
}



#skillscontainer td p {
    width: 150px;
}

#skillscontainer td {
    background-color: azure;
    border-radius: 5px;
    padding:10px;
}

tr{

}

#skillscontainer table{
    margin-left:auto; 
    margin-right:auto;
    border-spacing: 100px 20px;
    
}

#projectscontainer{
    background-color: cadetblue;
    margin-bottom: 200px;
    padding: 20px 0px;
    background-color: rgba(3, 25, 38, 0.9);
}

#projectshead *{
    text-align: center;
    color: #c5c5c5;
}

#projectstable img{
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto; 
}

#projectstable td{
    text-align: center;
    color: #c5c5c5;
}
#contactcontainer{
   background-color: burlywood;
    padding: 20px 0px;
    background-color: rgba(3, 25, 38, 0.9);
}

#contactcontainer *{
    text-align: center;
    color: #c5c5c5;
}

#footer{
    margin-bottom:-13px;
    text-align: right
    }
#footer p{
    color: #c5c5c5;
}
